# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/reactjs/node_modules

/reactjs/.pnp
/reactjs/.pnp.js

# testing
/reactjs/coverage

# production
/reactjs/build

# misc
/reactjs/.DS_Store
/reactjs/.env.local
/reactjs/.env.development.local
/reactjs/.env.test.local
/reactjs/.env.production.local

/reactjs/npm-debug.log*
/reactjs/yarn-debug.log*
/reactjs/yarn-error.log*

/native/node_modules/
/native/.expo/
/native/dist/
/native/npm-debug.*
/native/*.jks
/native/*.p8
/native/*.p12
/native/*.key
/native/*.mobileprovision
/native/*.orig.*
/native/web-build/

# macOS
/native/.DS_Store
